*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color-primary: #fd8f5f;
  --color-body-primary: #7f85bb;
  --color-body-accent: #4e5175;
  --color-body-secondary: #5f0a44;
  --color-background: #f2e1d9;
  --color-grey: #808080;
  --color-black: rgb(27, 27, 27);
  --color-white: #fff;
  --color-price: #811600;
  --color-footer: #1d2547;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  color: var(--color-body-primary);
  line-height: 1.5;
  height: 5000px;
}

/* typography */

h1,
h2,
h3 {
  font-family: "Inter", sans-serif;

  color: var(--color-black);
  line-height: 1.2;
}

h1 {
  font-size: 3.2rem;
  margin-bottom: 1.2rem;
  font-weight: 800;
}

h2 {
  font-size: 3rem;
  margin-bottom: 2.3rem;
  font-weight: 800;
}

h3 {
  font-size: 2.7rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

/* buttons */

.btn {
  padding: 1.5rem 4rem;
  letter-spacing: 0.5px;
  font-weight: 500;
  transition: background 0.2s ease-in;
}

.btn__primary {
  background: var(--color-primary);
  color: var(--color-white);
  border: none;
}

.btn__primary:hover {
  background-color: #c94309;
}

.btn__secondary {
  background: none;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.btn__secondary:hover {
  background: var(--color-primary);
  color: var(--color-white);
}

/* grid */

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

@media screen and (min-width: 600px) {
  .grid__1x2 {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }
}

@media screen and (min-width: 1000px) {
  .grid__1x3 {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-auto-rows: minmax(100px, auto);
  }
}

/* feature */
.feature {
  padding-top: 2rem;
}

.feature__heading {
  margin-bottom: 0;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  margin-top: 1.8rem;
}

.feature__content {
  margin-top: 1.5rem;
  color: var(--color-body-accent);
}

/* sale */

.sale {
  text-align: center;
}

.sale__image {
  width: 100%;
}

.sale__description {
  font-size: 1.9rem;
  color: var(--color-black);
  font-weight: 500;
  transition: border-bottom 0.1s;
  padding-bottom: 0;
  padding: 2rem 4rem 0;
}

.sale__description:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  cursor: pointer;
}

.sale__price {
  font-weight: 700;
  font-size: 1.9rem;
  color: var(--color-price);
  letter-spacing: 0.5px;
  margin-bottom: 4rem;
}

/* couch */
.couch__sale {
  box-shadow: 0 0 3px rgb(192, 191, 191);
}

.couch__image {
  width: 80%;
}

/* chair */
.chair__sale {
  margin: 2rem;
  box-shadow: 0 0 3px rgb(192, 191, 191);
}

/* best manufacturer */
.best {
  background: var(--color-background);
  padding: 2rem 2rem 5rem 3rem;
}

.best p {
  color: var(--color-body-accent);
  font-size: 1.6rem;
}

.best .btn {
  margin-top: 3rem;
}

/* popular */
.popular {
  text-align: center;
  padding: 2rem 2rem;
  margin-top: 5rem;
}

.popular__description {
  max-width: 500px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .popular__description {
    max-width: 700px;
    margin: auto;
  }
}

/* furniture types */

.furniture__types {
  max-width: 77%;
  margin: 3rem auto 0;
}
.types {
  text-align: center;
  border-bottom: 2px solid rgb(226, 226, 226);
  padding-left: 0;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.types li {
  list-style: none;
  display: inline-block;
  margin: 2.5rem 1.5rem 1rem;
}

.types a {
  text-decoration: none;
  color: var(--color-body-accent);
  font-size: 1.5rem;
  padding: 2.2rem;

  transition: border-bottom 0.2s;
}

.types a:hover {
  border-bottom: 2px solid rgb(175, 175, 175);
}

.sofa a {
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
}

/* insta section */
.insta__section {
  background: url(../images/instagreycouchwithtwopillows.png);
  height: 400px;
  background-position: center;
}

.insta__hover {
  transition: background-color 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  text-align: center;
  padding-top: 180px;
}

.fa-instagram {
  color: white;
  font-size: 40px;
  display: none;
}

.insta__section:hover .insta__hover {
  background-color: rgba(6, 6, 54, 0.3);
  background-repeat: no-repeat;
  height: 400px;
  background-position: center;
  background-size: cover;
}

.insta__section:hover .fa-instagram {
  display: block;
}

/* second insta section */

.insta__section2 {
  background: url(../images/instasecondgreycouch.png);
  height: 400px;
  background-position: center;
}

.insta__hover {
  transition: background-color 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  text-align: center;
  padding-top: 180px;
}

.fa-instagram {
  color: white;
  font-size: 40px;
  display: none;
}

.insta__section2:hover .insta__hover {
  background-color: rgba(6, 6, 54, 0.3);
  background-repeat: no-repeat;
  height: 400px;
  background-position: center;
  background-size: cover;
}

.insta__section2:hover .fa-instagram {
  display: contents;
}

/* inspired */
.inspired__heading {
  font-size: 3.2rem;
}

.inspired .fa-instagram {
  color: var(--color-primary);
  font-size: 60px;
  color: black;
}

.inspired .btn {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

@media screen and (min-width: 1000px) {
  .inspired .btn {
    margin-bottom: 0;
  }
}

/* couch block*/

.couch__block {
  margin-top: 4rem;
}

.couch__block > div {
  margin-bottom: 2rem;
}

@media screen and (min-width: 600px) {
  .couch__block {
    max-width: 1500px;
    margin: 4rem auto;
    column-gap: 2rem;
    padding: 2rem;
  }
}

/* chair block */

.chair__block > div {
  margin-bottom: 5rem;
}

.btn__secondary-chair {
  text-align: center;
}

@media screen and (min-width: 600px) {
  .chair__block {
    max-width: 1500px;
    margin: auto;
    column-gap: 2rem;
    padding: 2rem;
  }
}

/* features block */

.feature__background {
  background: var(--color-background);
}

.feature__block {
  row-gap: 2rem;
  padding: 5rem 2rem;
  margin-top: 10rem;
}

@media screen and (min-width: 600px) {
  .feature__block {
    column-gap: 2rem;
    padding: 8rem 10rem;
    max-width: 1500px;
    margin: 10rem auto 0;
  }

  .feature__block .feature__heading {
    font-size: 2rem;
  }

  .feature__block .feature__content {
    font-size: 1.5rem;
  }
}

/* best block */
.best__block {
  margin-top: 4rem;
}
.best__background {
  background: url(../images/best-couch.jpg) no-repeat center / cover;
  height: 300px;
}

@media screen and (min-width: 600px) {
  .best__block {
    max-width: 1500px;
    margin: auto;
  }
  .best__background {
    height: auto;
  }
}

/* insta section */

.insta__block {
  padding: 2rem;
  margin-top: 8rem;
}

@media screen and (min-width: 600px) {
  .inspired {
    grid-column: 1/3;
    height: auto;
  }

  .inspired p:first-of-type {
    max-width: 600px;
  }

  .insta__section,
  .insta__section2 {
    height: 300px;
  }

  .insta__section2:hover .insta__hover,
  .insta__section:hover .insta__hover {
    height: 300px;
  }

  .insta__hover {
    padding-top: 135px;
  }
}

@media screen and (min-width: 1000px) {
  .inspired {
    grid-column: 1/2;
    padding-right: 3rem;
  }

  .insta__block {
    max-width: 1500px;
    margin: 8rem auto 0;
  }
}

/* beginning of nav section */

/* search section */
.search__products {
}

.search__section {
  border-bottom: 1px solid#ddc2d9;
  width: fit-content;
}

.search {
  padding: 1rem 0;
  border: none;
  background: inherit;
}

.search:focus {
  outline: 0;
}

.search::placeholder {
  color: #640d56;
}

.search__bar {
  background: none;
  border: none;
}

.search__bar i {
  font-size: 18px;
  font-weight: 200;
  color: #410537;
}

/* card */
.account {
}
.account a {
  text-decoration: none;
  font-weight: 600;
  color: #4f0a44;
}

.card {
  margin-left: 2.5rem;
  vertical-align: middle;
}

/* menu */
.menu {
  font-weight: 600;
  color: #4f0a44;
  margin-left: 10rem;
  display: none;
}

/* nav list */

.nav__list {
  padding-left: 0;
}

.nav__list li {
  list-style: none;
  display: inline;
  margin-right: 2.5rem;
}

.nav__list a {
  text-decoration: none;
  color: #4f0a44;
  font-weight: 600;
}

/* main nav */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
  background: #f2e1d9;
  height: 100px;

  width: 100%;
}

.nav__logo {
  width: 150px;
  position: relative;
  top: 1rem;
}

@media screen and (max-width: 1000px) {
  .search__products {
    display: none;
  }
}

@media screen and (max-width: 790px) {
  .search__products {
    display: none;
  }

  .menu {
    display: block;
  }

  .nav__list {
    display: none;
  }
}

@media screen and (max-width: 790px) {
  .menu {
    display: none;
  }
}

/* end of nav section */

/* header */

.hero__background {
  background: url(../images/header.jpg) no-repeat center / cover;
  height: 650px;
}

.banner__transparency {
  background: rgb(0, 0, 0, 0.3);
  height: 650px;
  padding-top: 13rem;
}

.banner__content {
  max-width: 90%;
  background: var(--color-white);
  padding: 1rem 3.5rem 6rem;
  margin-top: 1rem;
}

.banner__discount {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
}

.banner__heading {
  text-transform: uppercase;
}

.banner__description {
  font-size: 1.8rem;
}

.banner__content .btn {
  margin-top: 2rem;
}

@media screen and (min-width: 700px) {
  .banner__content {
    max-width: 450px;
    background: var(--color-white);
    padding: 1rem 3.5rem 6rem;
    margin-left: 5rem;
  }

  .banner__heading {
    font-weight: 900;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  header {
    background-color: #f2e1d9;
    height: 780px;
    padding-right: 3rem;
  }

  .hero__width {
    max-width: 1500px;
    margin: auto;
  }

  .hero__background {
    height: 750px;
  }

  .banner__transparency {
    height: 750px;
  }

  .banner__content {
    max-width: 600px;
    background: var(--color-white);
    padding: 1rem 3.5rem 6rem;
    margin-left: 8rem;
    margin-top: 5rem;
  }

  .banner__heading {
    font-size: 5rem;
    font-weight: 900;
  }

  .banner__description {
    font-size: 2rem;
  }
}

/* footer section */
footer {
  background: var(--color-footer);
  padding: 7rem 0 3rem;
}

.footer__block {
  row-gap: 1.5rem;
  max-width: 1500px;
  margin: auto;
}

/* footer address */

.logo__section {
  padding: 0rem 3rem 2rem;
}

.footer__address {
  margin-top: 3rem;
  color: #d6d9f1;
}

.medias {
  padding-left: 0;
  padding-top: 4rem;
}

.medias li {
  list-style-type: none;
  display: inline;
  margin: 0.5rem;
}

.medias i {
  font-size: 18px;
  color: white;
  border: 1px solid white;
  padding: 1rem;
  border-radius: 100px;
  transition: background 0.2s, border 0.2s;
}

.medias i:hover {
  background: var(--color-primary);
  border: none;
}

.medias i.fa-facebook-f,
.medias i.fa-pinterest-p {
  padding: 1rem 1.3rem;
}

/* footer links */

.list__section {
  padding-left: 3rem;
}

.list__section p {
  color: #ebecf5;
  font-weight: 550;
  font-size: 1.8rem;
}

.list {
  padding-left: 0;
  margin-top: 3rem;
}

.list li {
  list-style: none;
  margin-bottom: 1.3rem;
}

.list a {
  text-decoration: none;
  color: #d6d9f1;
}

.copyright {
  text-align: center;
  margin-top: 6rem;
  color: #d6d9f1;
}

@media screen and (min-width: 600px) {
  .copyright {
    margin-top: 8rem;
  }
}

/* scroll up */

.up {
  position: fixed;
  right: 5rem;
  bottom: 2rem;
}

.up a {
  transition: all 0.2s;
}

.up i {
  padding: 1rem 1.5rem;
  font-size: 30px;
  border-radius: 100px;
  background: var(--color-primary);
  color: var(--color-white);
}
