<div class="chair__block grid grid__1x2 grid__1x3">
  <div class="sale chair__sale">
    <img
      src="./images/black and red chair.png"
      alt="brown and white couch"
      class="sale__image chair__image"
    />
    <p class="sale__description chair__sale">
      Bly Microfiber / Microsuede 56" Armless Loveseat
    </p>

    <p class="sale__price">$356</p>
  </div>

  <div class="sale chair__sale">
    <img
      src="./images/yellow chair.png"
      alt="brown and white couch"
      class="sale__image chair__image"
    />
    <p class="sale__description chair__sale">
      Bly Microfiber / Microsuede 56" Armless Loveseat
    </p>

    <p class="sale__price">$356</p>
  </div>

  <div class="sale chair__sale">
    <img
      src="./images/white chair.png"
      alt="brown and white couch"
      class="sale__image chair__image"
    />
    <p class="sale__description chair__sale">
      Bly Microfiber / Microsuede 56" Armless Loveseat
    </p>

    <p class="sale__price">$356</p>
  </div>
</div>
