<div class="feature__block grid grid__1x2 grid__1x3">
  <div class="feature">
    <img src="./images/fast delivery.svg" alt="fast delivery" />
    <h3 class="feature__heading">Fast & Free Delivery</h3>
    <p class="feature__content">Free delivery on all orders</p>
  </div>

  <div class="feature">
    <img src="./images/secure payment.svg" alt="fast delivery" />
    <h3 class="feature__heading">Secure Payment</h3>
    <p class="feature__content">Free delivery on all orders</p>
  </div>

  <div class="feature">
    <img src="./images/money guaranteed.svg" alt="fast delivery" />
    <h3 class="feature__heading">Money Back Guarantee</h3>
    <p class="feature__content">Free delivery on all orders</p>
  </div>

  <div class="feature">
    <img src="./images/online support.svg" alt="fast delivery" />
    <h3 class="feature__heading">Online Support</h3>
    <p class="feature__content">Free delivery on all orders</p>
  </div>
</div>
