<div class="couch__block grid grid__1x2 grid__1x3">
  <div class="sale couch__sale">
    <img
      src="./images/white and brown chair.webp"
      alt="brown and white couch"
      class="sale__image couch__image"
    />
    <p class="sale__description couch__description">
      Bly Microfiber / Microsuede 56" Armless Loveseat
    </p>

    <p class="sale__price">$356</p>
  </div>

  <div class="sale couch__sale">
    <img
      src="./images/orange couch.png"
      alt="brown and white couch"
      class="sale__image couch__image"
    />
    <p class="sale__description couch__description">
      Bly Microfiber / Microsuede 56" Armless Loveseat
    </p>

    <p class="sale__price">$356</p>
  </div>

  <div class="sale couch__sale">
    <img
      src="./images/green couch.png"
      alt="brown and white couch"
      class="sale__image couch__image"
    />
    <p class="sale__description couch__description">
      Bly Microfiber / Microsuede 56" Armless Loveseat
    </p>

    <p class="sale__price">$356</p>
  </div>
</div>
