<footer>
    <div class="footer__block grid grid__1x2 grid__1x3">
      <section class="logo__section">
        <img src="./images/logo.webp" alt="logo" class="footer__logo" />
        <p class="footer__address">
          Suspendisse varius enim in eros elementum tristique. Duis cursus, mi
          quis viverra ornare, eros dolor interdum nulla.
        </p>
        <ul class="medias">
          <li>
            <a href="www.twitter.com"><i class="fa fa-twitter"></i></i></a>
          </li>
          <li>
            <a href="www.facebook.com"><i class="fa fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="www.pinterest.com"
              ><i class="fa fa-pinterest-p"></i>
            </a>
          </li>
        </ul>
      </section>

      <section class="list__section">
        <p>Quick links</p>
        <ul class="list">
          <li><a href="">Image Licensing</a></li>
          <li><a href="">Style Guide</a></li>
          <li><a href="">Privacy Policy</a></li>
        </ul>
      </section>

      <section class="list__section">
        <p>Shop Category</p>
        <ul class="list">
          <li><a href="">Image Licensing</a></li>
          <li><a href="">Style Guide</a></li>
          <li><a href="">Privacy Policy</a></li>
        </ul>
      </section>

      <section class="list__section">
        <p>Partners</p>
        <ul class="list">
          <li><a href="">Image Licensing</a></li>
          <li><a href="">Style Guide</a></li>
          <li><a href="">Privacy Policy</a></li>
        </ul>
      </section>
    </div>

    <p class="copyright">Copyright &copy;2022 All rights reserved</p>
  </footer>