<header>
  <div class="hero__background">
    <div class="banner__transparency">
      <div class="hero__width">
        <div class="banner__content">
          <p class="banner__discount">70% sale off</p>
          <h1 class="banner__heading">furniture at cost</h1>
          <p class="banner__description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ullam
            veritatis culpa eveniet vero necessitatibus!
          </p>
          <button class="btn btn__primary">Discover More</button>
        </div>
      </div>
    </div>
  </div>
</header>
