<div class="nav">
  <img src="./images/navlogo.webp" alt="" class="nav__logo" />

  <ul class="nav__list">
    <li><a href="">Home</a></li>
    <li><a href="">Product</a></li>
    <li><a href="">About</a></li>
    <li><a href="">Page</a></li>
    <li><a href="">Blog</a></li>
    <li><a href="">Contact</a></li>
  </ul>

  <div class="search__products">
    <form action="" method="post" class="search__section">
      <input
        type="text"
        class="search"
        name="search"
        placeholder="Search Products"
        id="search"
      />
      <button type="submit" class="search__bar">
        <i class="fa fa-search"></i>
      </button>
    </form>
  </div>

  <p class="menu">Menu</p>

  <p class="account">
    <a href=""
      >My Account <img class="card" src="./images/card.svg" alt=""
    /></a>
  </p>
</div>
